<header>
   <link rel="stylesheet" href="/components/header/header.css" media="screen and (min-device-width: 621px)" />
   <link rel="stylesheet" href="/components/header/header_mobile.css" media="screen and (max-device-width: 620px)" />
   <div>
      <a href="/index.html"><i class="fa-solid fa-house" style="color: #e0e0e0"></i> Accueil </a>
   </div>
   <div>
      <a href="/projects.html"><i class="fa-solid fa-briefcase" style="color: #e0e0e0"></i> Portfolio</a>
   </div>
   <div>
      <a href="/common/contact.html"><i class="fa-solid fa-address-book" style="color: #e0e0e0"></i> Contact</a>
   </div>
</header>
