<header>
   <link rel="stylesheet" href="/components/header/header.css" media="screen and (min-device-width: 621px)" />
   <link rel="stylesheet" href="/components/header/header_mobile.css" media="screen and (max-device-width: 620px)" />
   <div>
      <a href="/index.html"> <img src="/img/header/accueil.png" alt="accueil" title="accueil" /> Accueil </a>
   </div>
   <div>
      <a href="/projects.html"><img src="/img/header/portefolio.png" alt="portfolio" title="portfolio" /> Portfolio</a>
   </div>
   <div>
      <a href="/common/contact.html"><img src="/img/header/contact.png" alt="contact" title="contact" /> Contact</a>
   </div>
</header>
