.contact {
   padding-top: calc(20px + max(40px, min(7vh, 50px)));
   padding-left: 50px;

   display: flex;
   flex-direction: column;
   gap: 30px;

   color: var(--font-color);
}

.contact > div > a,
.contact > div > a > span {
   width: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.contact > div img {
   height: 25px;
   transition: transform 0.2s;
   margin-right: 10px;
}

.contact > div img:hover,
.pied img:hover {
   transform: scale(1.3);
}

.contact > div a {
   text-decoration: none;
   color: var(--header-font-color);
}
