.contact {
   padding-top: calc(20px + max(40px, min(7vh, 50px)));
   padding-left: 50px;

   display: flex;
   flex-direction: column;
   gap: 30px;

   color: var(--font-color);
}

i {
   margin-right: 1rem;
}

.contact > div > a,
.contact > div > a > span {
   width: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
}

.contact > div a {
   text-decoration: none;
   color: var(--header-font-color);
}
