:root {
  --body-backgroud-color: rgb(31, 31, 31);
  --sidebar-background-color: rgb(19, 19, 19);
  --header-font-color: #e0e0e0;
  --projet-background-color: rgb(19, 19, 19);
  --font-color: rgb(221, 213, 213);
}

body {
  background-color: var(--body-backgroud-color);
  font-family: sans-serif;
  min-width: 150px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

a:hover {
  cursor: pointer;
}

/* HEADER REGION */
/*#region*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  background-color: var(--sidebar-background-color);

  width: 100%;
  /* Between 40px and 50px */
  min-height: 40px;
  height: 7vh;
  max-height: 50px;

  padding-left: 2%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;

  /* Between 18px and 22px */
  font-size: min(22px, max(18px, 1.3vmax));
}

header > div {
  height: 95%;

  background: linear-gradient(
    45deg,
    rgba(255, 119, 2, 0) 0.1px,
    rgba(255, 119, 2, 0) 90%
  );
  transition: background-color 0.5s;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

header > div img {
  height: 1em;
}

header > div a {
  text-decoration: none;
  color: var(--header-font-color);
}
/*#endregion*/
/* END HEADER REGION */

/* FOOTER REGION */
/*#region*/
.contact {
  width: 100%;
  height: 100%;

  margin-top: calc(20px + max(40px, min(7vh, 50px)));
  margin-left: 50px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  color: var(--font-color);
}

.contact > div > a,
.contact > div > a > span {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact > div img {
  height: 25px;
  transition: transform 0.2s;
  margin-right: 10px;
}

.contact > div img:hover,
.pied img:hover {
  transform: scale(1.3);
}

.contact > div a {
  text-decoration: none;
  color: var(--header-font-color);
}
/*#endregion*/
/* END FOOTER REGION */
