@media screen and (min-device-width: 621px) {
   body {
      font-size: 1rem;
   }
}

@media screen and (max-device-width: 620px) {
   body {
      font-size: 1, 5rem;
   }
}

:root {
   --body-backgroud-color: rgb(31, 31, 31);
   --sidebar-background-color: rgb(19, 19, 19);
   --header-font-color: #e0e0e0;
   --title-font-color: rgb(255, 150, 60);
   --information-font-color: rgb(221, 213, 213);
}

body {
   background-color: var(--body-backgroud-color);
   font-family: sans-serif;
   min-width: 150px;
   margin: 0;
}

a:hover {
   cursor: pointer;
}

h2 {
   width: 100%;
   font-size: 1.5rem;
   color: var(--title-font-color);
   border-bottom: 2px solid var(--title-font-color);
}

h3 {
   width: 100%;
   font-size: 1.2rem;
   color: var(--title-font-color);
}
