body {
    background-image:url("../img/fond.jpg");
    font-family: sans-serif;
}

header {
    width: 100%;
    margin-bottom: 10px;
}

#title {
    font-size: 30px;
    margin: auto;
    color: rgb(221, 213, 213);
}

.sidebar-nav {
    position: static;
    width: 100%;
    height: 8%;
}

.sidebar-nav ul {
    height: 100%;
    padding-inline-start: 5px;
    font-size: 22px;
}

.nav-items img {
    height:max(2.5vh, 2.5vw);
    margin-right: 5px;
    margin-bottom: -5px;
}

.nav-items {
    display: inline-block;
    list-style: none;
    
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 5px;
}

.nav-items a {
    text-decoration: none;
    color:rgba(255, 150, 60, 1);
}

.nav-items, .cv h2, .pied a {
    background: linear-gradient(45deg, rgba(255, 119, 2, 0) 0.1px,  rgba(255, 119, 2, 0) 90%);
    border-radius: 8px;
    transition: background-color 0.3s;
    padding:4px;
}

.nav-items:hover, .cv h2:hover {
    background-color: rgba(255, 119, 2, 0.4);
    border-radius: 8px;
}

.projet {
    text-align: center;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(221, 213, 213);
    width: 90%;
    border-left: 5px rgba(255, 150, 60, 1) solid;
    padding-top: 3px;
    margin: 100px 0 100px 50px;
}

#projets a {
    text-decoration: none;
    flex-wrap: wrap;
    text-align: center;
}

.projet a {
    color : rgb(255, 150, 60);
}


.horstitre {
    max-height: 0;
    overflow: hidden;
}

.description {
    text-align: left;
    margin-left: 10px;
}

.projet .pied {
    margin-top: 20px;
    width: 60%;
    border-top: 2px rgba(255, 150, 60, 1) solid;
    padding: 10px;
    display: inline-block;
}

#projets {
    min-height: 70%;
}

.pied a {
    font-size: 0;
}

.pied .language {
    width: 50%;
    float: left;
    text-align: left;
}

.pied .liens {
    width: 50%;
    float: right;
    text-align:right;
}

.pied #git {
    margin-left: 30px;
}

.pied label {
    padding: 5px;
    background-color: rgba(255, 150, 60, 0.8);
    border-radius: 5px;
    margin-top: 0;
}

#projetCroule, #videothequeroule, #prjCPOAroule, #prjTut2020roule, #prjWebS1roule {
    width: 20px;
    padding-bottom: 5px;
}

.doitApparaitre {
    animation: deroule 0.6s linear 1 forwards;
}

.doitDisparaitre {
    animation: enroule 0.6s linear 1 forwards;
}

@keyframes enroule {
    from {
        max-height: 100%;
    }
    to {
        max-height: 0;
    }
}

@keyframes deroule {
    from {
        max-height: 0;
    }
    to {
        max-height: 100%;
    }
}

a:hover {
    cursor: pointer;
}

footer {
    margin: auto;
    width: 99%;
    text-align: center;
}

footer a{
    text-decoration: none;
    margin: 6%;
}

footer img {
    width: 45px;
    transition: transform .2s;
}

footer img:hover, .pied img:hover {
    transform: scale(1.3);
}

#discord {
    width: 35px;
}

#tel {
    width: 40px;
}

#location {
    width: 30px;
}

#git {
    width: 40px;
}

.semestre {
    color: rgb(221, 213, 213);
    font-size: 22px;
}