body {
    background-color: rgb(31, 31, 31);
    font-family: sans-serif;
    font-size: 20px;
}

a:hover {
    cursor: pointer;
}

        /*  *//*  */
        /* HEADER */
        /*  *//*  */

.sidebar-nav {
    background-color: rgb(19, 19, 19);

    position: fixed;
    width: 100%;
    height: 50px;

    top: 0;
    left: 0;

    padding-left: 50px;

    z-index: 9999;
}

.nav-items {
    float: left;

    text-align: center;
    height: 38px;
    padding : 12px 10px 0 10px;
    width: fit-content;
    font-size:20px;

    background: linear-gradient(45deg, rgba(255, 119, 2, 0) 0.1px,  rgba(255, 119, 2, 0) 90%);
    transition: background-color 0.5s;
}

.nav-items img {
    height:20px;
    margin-right: 5px;
}

.nav-items a {
    text-decoration: none;
    color: rgb(221, 213, 213);
}

.nav-items:hover, .cv h2:hover {
    background-color: rgba(82, 82, 82, 0.5);
}



.imgPrj {
    max-height: 400px;
}



.cv h2, .pied a {
    background: linear-gradient(45deg, rgba(255, 119, 2, 0) 0.1px,  rgba(255, 119, 2, 0) 90%);
    border-radius: 8px;
    transition: background-color 0.3s;
    padding:4px;
}

.nav-items:hover, .cv h2:hover {
    background-color: rgba(82, 82, 82, 0.5);
}

.projet {
    text-align: center;
    background-color: rgb(19, 19, 19);
    color: rgb(221, 213, 213);
    width: 90%;
    border-left: 5px rgba(255, 150, 60, 1) solid;
    margin: 70px 0 70px 50px;
    padding-top: 1px;
}

#projets a {
    text-decoration: none;
    flex-wrap: wrap;
    text-align: center;
    color : rgb(255, 150, 60);
}

#projets {
    margin-top: 100px;
    min-height: 90%;
}

.horstitre {
    max-height: 0;
    overflow: hidden;
}

.description {
    text-align: left;
    margin-left: 10px;
}

.description img {
    margin-bottom: -5px;
    height: 23px;
}

.projet .pied {
    margin-top: 20px;
    width: 75%;
    height: 35px;
    border-top: 2px rgba(255, 150, 60, 1) solid;
    padding: 10px;
    display: inline-block;
}

.pied a {
    font-size: 0;
}

.pied .language {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 5px;
}

.pied .liens {
    width: 50%;
    float: right;
    text-align:right;
}

.pied label {
    padding: 5px;
    background-color: rgba(255, 150, 60, 0.8);
    border-radius: 5px;
}

#projetCroule, #videothequeroule, #prjCPOAroule, #prjTut2020roule, #prjWebS1roule, #prgRepClientServerroule, #prjSysteme2020roule {
    width: 20px;
    padding-top: 2px;
}

.doitApparaitre {
    -webkit-animation: deroule 0.6s linear 1 forwards;
    -moz-animation: deroule 0.6s linear 1 forwards;
    -o-animation: deroule 0.6s linear 1 forwards;
    -ms-animation: deroule 0.6s linear 1 forwards;
    animation: deroule 0.6s linear 1 forwards;
}

.doitDisparaitre {
    -webkit-animation: enroule 0.6s linear 1 forwards;
    -moz-animation: enroule 0.6s linear 1 forwards;
    -o-animation: enroule 0.6s linear 1 forwards;
    -ms-animation: enroule 0.6s linear 1 forwards;
    animation: enroule 0.6s linear 1 forwards;
}

@-webkit-keyframes enroule {
    0%      { max-height: 700px; }
    100%    { max-height: 0; }
}

@-moz-keyframes enroule {
    0%      { max-height: 700px; }
    100%    { max-height: 0; }
}

@-o-keyframes enroule {
    0%      { max-height: 700px; }
    100%    { max-height: 0; }
}

@-ms-keyframes enroule {
    0%      { max-height: 700px; }
    100%    { max-height: 0; }
}

@keyframes enroule {
    0%      { max-height: 700px; }
    100%    { max-height: 0; }
}

@-webkit-keyframes deroule {
    0%      { max-height: 0; }
    100%    { max-height: 700px; }
}

@-moz-keyframes deroule {
    0%      { max-height: 0; }
    100%    { max-height: 700px; }
}

@-o-keyframes deroule {
    0%      { max-height: 0; }
    100%    { max-height: 700px; }
}

@-ms-keyframes deroule {
    0%      { max-height: 0; }
    100%    { max-height: 700px; }
}

@keyframes deroule {
    0%      { max-height: 0; }
    100%    { max-height: 700px; }
}

.semestre {
    color: rgb(221, 213, 213);
    font-size: 22px;
    padding-left: 40px;
    margin-bottom: 200px;
}


        /*  *//*  */
        /* FOOTER */
        /*  *//*  */
footer {
    margin: auto;
    width: 99%;
    text-align: center;
}

footer a{
    text-decoration: none;
    margin: 6%;
}

footer img {
    width: 45px;
    transition: transform .2s;
}

footer img:hover, .pied img:hover {
    transform: scale(1.3);
}

#discord {
    width: 35px;
}

#tel {
    width: 40px;
}

#location {
    width: 30px;
}

#git {
    width: 40px;
}