<link
   rel="stylesheet"
   href="/components/informatic-skills/informatic-skills.css"
   media="screen and (min-device-width: 621px)"
/>
<link
   rel="stylesheet"
   href="/components/informatic-skills/informatic-skills_mobile.css"
   media="screen and (max-device-width: 620px)"
/>

<ul class="skills">
   <li>
      <span><img src="img/langage/mysql-ico.svg" />SQL</span>
      <span>NoSQL</span>
   </li>
   <li>
      <span><img src="img/langage/python-ico.svg.png" />Python</span>
      <span><img src="img/langage/java-ico.svg" />Java</span>
      <span><img src="img/langage/c-ico.png" />C</span>
      <span>C++</span>
   </li>
   <li>
      <span><img src="img/langage/php-ico.svg" />PHP</span>
      <span><img src="img/langage/js-ico.png" />JavaScript</span>
      <span><img src="img/langage/html5-ico.svg.png" />HTML5</span>
      <span><img src="img/langage/css3-ico.svg.png" /> CSS3</span>
   </li>
</ul>
