<link rel="stylesheet" href="/components/hobbies/hobbies.css" media="screen and (min-device-width: 621px)" />
<link rel="stylesheet" href="/components/hobbies/hobbies_mobile.css" media="screen and (max-device-width: 620px)" />

<ul>
   <li><i class="fa-solid fa-code" style="color: #ff963c"></i> Programmation</li>
   <li><i class="fa-solid fa-music" style="color: #ff963c"></i> Musique</li>
   <li style="font-style: italic">Membre de 3 orchestres</li>
   <li><i class="fa-solid fa-volleyball" style="color: #ff963c"></i> Volleyball</li>
   <li><i class="fa-solid fa-book" style="color: #ff963c"></i> Lecture</li>
   <li><i class="fa-solid fa-gamepad" style="color: #ff963c"></i> Jeux vidéo</li>
</ul>
